@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body{
  font-family:  Futura;
  background-color: #e2fffd !important;
}
p{
  margin:  0 auto 1rem;
}
.active{
  background-color: #f6ffa4 ;
  border:  none;
  height:  70px;
  /*color: #a2a2a2;*/
}